:root {
  --cultured: #f8f9faff;
  --cultured-2: #e9ecefff;
  --gainsboro: #dee2e6ff;
  --light-gray: #ced4daff;
  --cadet-blue-crayola: #adb5bdff;
  --slate-gray: #6c757dff;
  --davys-grey: #495057ff;
  --gunmetal: #343a40ff;
  --charleston-green: #212529ff;

  --background: #2d2d39;
  --cards: #3f4156;
  --card-header: #696d97;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh;
}

body {
  font-family: "Mate SC", serif;
  /* background-color: var(--gunmetal); */
  background-color: var(--background);
  color: var(--cultured);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
